%nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .container
    %ul.nav.navbar-nav
      %li
        %a.brand AssetCrawler

      = active_link_to 'Domain List', domains_path,
        active: :exclusive, wrap_tag: :li

      = active_link_to 'Page List', pages_path,
        active: :exclusive, wrap_tag: :li

    .pull-right= active_link_to 'Create Domain', root_path,
      active: :exclusive, class: 'btn btn-lg btn-default'
